.hometext {
    font-family: arial;
    display: flex;
    text-align: center;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-simple-black-flower-vine-border-background-illustration-vinebackgroundframe-image_74822.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.hometext p {
    padding: 2rem;
}

body {
    margin: 0;
    padding: 0;
}
.seasons-link {
    display: inline-block;
    height: 160px;
    padding-left: 150px;
}
.linkcontainer .navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
}

.janvier {
    background-image: url('/src/component/images/janvier.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.fevrier {
    background-image: url('/src/component/images/fevrier.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.mars {
    background-image: url('/src/component/images/mars.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.avril {
    background-image: url('/src/component/images/avril.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.mai {
    background-image: url('/src/component/images/mai.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.juin {
    background-image: url('/src/component/images/juin.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.juillet {
    background-image: url('/src/component/images/juillet.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.aout {
    background-image: url('/src/component/images/aout.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.septembre {
    background-image: url('/src/component/images/septembre.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.octobre {
    background-image: url('/src/component/images/octore.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.novembre {
    background-image: url('/src/component/images/novembre.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.decembre {
    background-image: url('/src/component/images/decembre.png');
    background-repeat: no-repeat;
    border: 1px solid lightgrey;
}

.monthS {
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .month {
    border-radius: 10px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 20px lightgray;
    background-color: whitesmoke;
  }
  
  .month-img {
    border-radius: 50px;
    height: 200px;
    width: 100%;
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex-grow: 1;
  }
  