.link {
    display: inline-block;
    height: 150px;
    padding-left: 150px;
}
.linkcontainer .navlinks {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
}
.linkcontainer {
    display: flex;
    justify-content: center;
}

.janvier {
    background-image: url('/src/component/images/150x150.png');
}

.fevrier {
    background-image: url('/src/component/images/150x150.png');
}

.mars {
    background-image: url('/src/component/images/150x150.png');
}

.avril {
    background-image: url('/src/component/images/150x150.png');
}

.mai {
    background-image: url('/src/component/images/150x150.png');
}

.juin {
    background-image: url('/src/component/images/150x150.png');
}

.juillet {
    background-image: url('/src/component/images/150x150.png');
}

.aout {
    background-image: url('/src/component/images/150x150.png');
}

.septembre {
    background-image: url('/src/component/images/150x150.png');
}

.octobre {
    background-image: url('/src/component/images/150x150.png');
}

.novembre {
    background-image: url('/src/component/images/150x150.png');
}

.decembre {
    background-image: url('/src/component/images/150x150.png');
}

.monthS {
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .month {
    border-radius: 10px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 20px lightgray;
    background-color: whitesmoke;
  }
  
  .month-img {
    border-radius: 50px;
    height: 200px;
    width: 100%;
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex-grow: 1;
  }
  