.footer {
    flex-direction: column;
    width: 100%;
    background-image: url("/src/component/images/bgheader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.column h1 {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

.column {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid black;
}

.column h1 {
    color: white;
    display: flex;
    margin: auto;
}

.row {
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.column p {
    color: white;
    font-size: 2vh;
    font-weight: bold;
    font-style: italic;
}

.column p:hover {
    color: #b62456;
}