.footer {
    flex-direction: column;
    width: 100%;
}

.column h1 {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

.column {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid black;
}

.column h1 {
    color: black;
    display: flex;
    margin: auto;
}

.row {
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.column p {
    color: black;
    font-size: 2vh;
    font-style: italic;
}

.column p:hover {
    color: #b62456;
}