body {
    margin: 0;
    padding: 0;
}
a:link{
    text-decoration: none;
}
.navlist {
    display: flex;
    justify-content: space-between;
}
.navlist .link {
    color: white;
    font-weight: bold;
    border: solid white;
    border-radius: 8px;
    padding:0.5vh;
    font-size: 2.5vh;
    margin-top: 4.2vh;
    margin-left: 4vw;
    margin-right: 4vw;
    height: 3.5vh;
}
.navlist .link.active {
    box-shadow: 1px 1px 20px white;
}
.navlist h1 {
    font-size: 4.5vh;
    color: white;
}
header {
    background-image: url("/src/component/images/bgheader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}