body {
    margin: 0;
    padding: 0;
}
a:link{
    text-decoration: none;
}
.navlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}
.navlist .link {
    color: white;
    font-weight: bold;
    border: solid white;
    border-radius: 8px;
    font-size: 2.5vh;
    padding: 0.25rem;
}
.navlist .link.active {
    box-shadow: 1px 1px 20px white;
}
.navlist h1 {
    font-size: 4.5vh;
    color: white;
}
header {
    background-image: url("/src/component/images/bgheader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}