body {
    margin: 0;
    padding: 0;
}

.box h1 {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}
.jauges {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}

.pbutton {
    width: 100%;
    margin: 2px;
    background-color: burlywood;
    border-radius:10px;
}
.pbuttonv {
    width: 100%;
    margin: 2px;
    background-color: #3e8c46;
    border-radius:10px;
}
.jauges img {
    width: 12rem;
}
.test {
    display: inline-flex;
}
.capital {
    margin-left: 13vw;
    margin-top: 3vh;
    font-weight: bold;
}
.details {
    display: block;
    text-align: center;
}
.details h2 {
    font-size: 1.3rem;
}
.card {
    border: 1px solid black;
    padding: 1vh;
}
.vegetables {
    border: 1px solid black;
    padding: 1vh;
}
.card p {
    text-align: center;
    font-weight: bold;
}
.vegetables p {
    text-align: center;
    font-weight: bold;
}
.cards {
    display: flex;
}
.box {
    margin-bottom: 3vh;
}